@import '../../assets/img/styles/variable.scss';

// .card{
//   width: 300px;
//   margin: auto;
//   margin-top: 20px;
//   background-color: red;
// }

// .header-image{
//   background-size: cover;
// }

// .mat-card-header{
//   background-color: $white;
//   padding-top: 10px;
//   border-radius: 10px;
// }

// .mat-card-title{
//   text-transform: uppercase;
//   color: black;
// }

// .mat-card-subtitle{
//   color: $black;
// }

// .mat-chip{
//   background-color: $black !important;
// }

.sheet {
  height: 70vh;
  margin-left: 100px;
}

.sheet__img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sheet_table {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.sheet__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sheet__item div {
  margin-top: 20px;
}

.sheet_progress {
  display: flex;
}

.sheet_progress div {
  margin-top: 20px;
}

.sheet__item_label {
  margin-right: 20px;
  font-weight: bold;
}
