<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>CREATE A PRODUCT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- =============FULL NAME=========== -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="Name" />
            <mat-error
              style="color: red"
              *ngIf="profileForm.touched && profileForm.invalid"
            >
              Please enter the information
            </mat-error>
          </mat-form-field>
          <!-- ===========DESCRIPTION========================= -->
          <mat-form-field class="full-width">
            <input
              formControlName="description"
              matInput
              placeholder="Description"
            />
            <mat-error
              style="color: red"
              *ngIf="
                profileForm.get('description').touched && profileForm.invalid
              "
            >
              Please enter a valid description
            </mat-error>
          </mat-form-field>

          <!-- ================PRICE ================================== -->
          <mat-form-field class="full-width">
            <input formControlName="price" matInput placeholder="Price" />
            <mat-error
              *ngIf="
                profileForm.get('price').hasError('pattern') &&
                profileForm.get('price').touched
              "
            >
              Invalid Input
            </mat-error>
          </mat-form-field>
          <!-- =============CATEGORY======================= -->
          <div class="col-md-6 top-padding">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Category</mat-label>
              <mat-select formControlName="Category">
                <mat-option value="Electronics">Electronics</mat-option>
                <mat-option value="Cloths">Cloths</mat-option>
                <mat-option value="Blankets">Blankets</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- ==================URL IMG=============== -->

          <!-- PHNEE ------------------------->
          <div class="col-sm-6">
            <mat-form-field class="full-width">
              <input formControlName="phone" matInput placeholder="Phone" />
              <mat-error
                *ngIf="
                  profileForm.get('phone').hasError('pattern') &&
                  profileForm.get('phone').touched
                "
              >
                Invalid Input
              </mat-error>
            </mat-form-field>

            <!-- ==============PHONE COMPANY =================== -->

            <div class="col-md-6 top-padding">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select formControlName="lineCompany">
                  <mat-option value="Mobile">Mobile</mat-option>
                  <mat-option value="LandLine">LandLine</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!--  -->
        </div>
      </div>
    </mat-card-content>

    <!--================ACTIONS TO DO ======================= -->
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">
        Save
      </button>
      <button (click)="saveForm()" mat-raised-button color="primary-light">
        Clear
      </button>
      <button (click)="saveForm()" mat-raised-button color="primary">
        Add New Product
      </button>
    </mat-card-actions>
  </mat-card>
</form>
