<form
  [formGroup]="form"
  novalidate
  (ngSubmit)="save($event)"
  class="form-container"
>
  <!-- ===============================HEADER=================================================================== -->

  <mat-card>
    <mat-card-header>
      <mat-card-title> Profile Information </mat-card-title>
    </mat-card-header>

    <!-- =========================END OF HEADER=================================================================== -->
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="name" matInput placeholder="Name" />
          </mat-form-field>
          <div style="color: red" *ngIf="nameField.errors && nameField.touched">
            <p *ngIf="nameField.hasError('required')">Field required</p>
            <p *ngIf="nameField.hasError('minlength')">At least 3 characters</p>
            <p *ngIf="nameField.hasError('pattern')">
              Numbers and Alphabets only
            </p>
          </div>
        </div>
      </div>

      <!--========================= END OF NAME========================= -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input
              formControlName="description"
              matInput
              placeholder="Description"
            />
          </mat-form-field>
          <div
            style="color: red"
            *ngIf="descriptionField.errors && descriptionField.touched"
          >
            <p *ngIf="descriptionField.hasError('required')">Field required</p>
            <p *ngIf="descriptionField.hasError('minlength')">
              At least 3 characters
            </p>
            <p *ngIf="descriptionField.hasError('pattern')">
              Numbers and Alphabets only
            </p>
          </div>
        </div>
      </div>
      <!--========================= END OF DESCRIPTION ========================= -->
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="price"
              matInput
              placeholder="Price"
            ></textarea>
          </mat-form-field>
          <div
            style="color: red"
            *ngIf="priceField.errors && priceField.touched"
          >
            <p *ngIf="priceField.hasError('required')">Field required</p>
            <p *ngIf="priceField.hasError('pattern')">
              Numbers with 2 decimal places only
            </p>
          </div>
        </div>
      </div>
      <!--========================= END OF PRICE ========================= -->
      <div class="row">
        <div class="col-md-6 top-padding">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option value="Electronics">Electronics</mat-option>
              <mat-option value="Cloths">Cloths</mat-option>
              <mat-option value="Blankets">Blankets</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            style="color: red"
            *ngIf="categoryField.errors && categoryField.touched"
          >
            <p *ngIf="categoryField.hasError('required')">Field required</p>
          </div>
        </div>
      </div>
      <!--========================= END OF CATEGORY ========================= -->
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="imageUrl"
              matInput
              placeholder="Image Url"
            ></textarea>
          </mat-form-field>
          <div style="color: red" *ngIf="urlField.errors && urlField.touched">
            <p *ngIf="urlField.hasError('required')">Field required</p>
            <p *ngIf="urlField.hasError('pattern')">Enter valid image URL</p>
          </div>
        </div>
      </div>
      <!--========================= END OF IMAGE URL ========================= -->
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="phone"
              matInput
              placeholder="Phone"
            ></textarea>
          </mat-form-field>
          <div
            style="color: red"
            *ngIf="phoneField.errors && phoneField.touched"
          >
            <p *ngIf="phoneField.hasError('required')">Field required</p>
            <p *ngIf="phoneField.hasError('maxlength')">10 numbers max</p>
            <p *ngIf="phoneField.hasError('pattern')">Numbers only</p>
          </div>
        </div>
      </div>
      <!--========================= END OF PHONE ========================= -->
      <div class="row">
        <div class="col-md-6 top-padding">
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName="select">
              <mat-option value="Mobile">Mobile</mat-option>
              <mat-option value="Landline">Landline</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            style="color: red"
            *ngIf="selectField.errors && selectField.touched"
          >
            <p *ngIf="selectField.hasError('required')">Field required</p>
          </div>
        </div>
      </div>
    </mat-card-content>
    <!--========================= END OF FORM ========================= -->
    <mat-card-actions>
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
  <p>
    Name: <br />
    <input type="text" formControlName="name" />
  </p>
  <p>
    Fecha: <br />
    <input type="date" formControlName="date" />
  </p>
  <p>
    Email: <br />
    <input type="email" formControlName="email" />
  </p>
  <div *ngIf="emailField.errors && emailField.touched">
    <p *ngIf="emailField.hasError('required')">Es un campo requerido</p>
    <p *ngIf="emailField.hasError('email')">No es un email</p>
  </div>
  <p>
    Texto largo: <br />
    <textarea cols="30" rows="10" formControlName="text"></textarea>
    <small>{{ this.form.get("text").value.length }}/80</small>
  </p>
  <div *ngIf="textField.errors && textField.touched">
    <p *ngIf="textField.hasError('required')">Es un campo requerido</p>
    <p *ngIf="textField.hasError('maxlength')">
      Te pasaste, máximo deben haber 80 caracteres.
    </p>
  </div>
  <p>
    Category: <br />
    <select formControlName="category">
      <option value="1">Category 1</option>
      <option value="2">Category 2</option>
      <option value="3">Category 3</option>
    </select>
  </p>
  <p>
    Genero: <br />
    <input type="radio" name="gender" formControlName="gender" value="male" />
    Male<br />
    <input type="radio" name="gender" formControlName="gender" value="female" />
    Female<br />
    <input type="radio" name="gender" formControlName="gender" value="other" />
    Other
  </p>
  <button type="submit" [disabled]="form.invalid">Guardar</button>
</form> -->
