<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>CREATE A PRODUCT</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- ======================== -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="Name" />
            <mat-hint
              style="color: red"
              *ngIf="
                profileForm.get('firstName').touched &&
                profileForm.get('firstName').errors?.required
              "
            >
              First name is required</mat-hint
            >
          </mat-form-field>
        </div>
        <!-- ==================================== -->
        <div class="col-md-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>
        </div>

        <!-- PRICE ============ -->
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="price"
              matInput
              placeholder="Price"
            ></textarea>
          </mat-form-field>
        </div>
        <!-- ==================================== -->
        <div class="col-md-6 top-padding">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="Category">
              <mat-option value="Electronics">Electronics</mat-option>
              <mat-option value="Cloths">Cloths</mat-option>
              <mat-option value="Blankets">Blankets</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- ================================= -->
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="urlImg"
              matInput
              placeholder="Image Url"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <textarea
              formControlName="phone"
              matInput
              placeholder="Phone"
            ></textarea>
          </mat-form-field>

          <div class="col-md-6 top-padding">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select formControlName="lineCompany">
                <mat-option value="Mobile">Mobile</mat-option>
                <mat-option value="LandLine">LandLine</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!--  -->
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
